jbpm/jbpm-bpmn2/src/main/resources/META-INF/DC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" targetNamespace="http://www.omg.org/spec/DD/20100524/DC" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="Font" type="dc:Font" />
	<xsd:element name="Point" type="dc:Point" />
	<xsd:element name="Bounds" type="dc:Bounds" />
	
	<xsd:complexType name="Font">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="size" type="xsd:double" />
		<xsd:attribute name="isBold" type="xsd:boolean" />
		<xsd:attribute name="isItalic" type="xsd:boolean" />
		<xsd:attribute name="isUnderline" type="xsd:boolean" />
		<xsd:attribute name="isStrikeThrough" type="xsd:boolean" />
	</xsd:complexType>
	
	<xsd:complexType name="Point">
		<xsd:attribute name="x" type="xsd:double" use="required" />
		<xsd:attribute name="y" type="xsd:double" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="Bounds">
		<xsd:attribute name="x" type="xsd:double" use="required" />
		<xsd:attribute name="y" type="xsd:double" use="required" />
		<xsd:attribute name="width" type="xsd:double" use="required" />
		<xsd:attribute name="height" type="xsd:double" use="required" />
	</xsd:complexType>

</xsd:schema>
